*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:5px 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li{
    margin: 0 10px;
}
nav ul h1{
    font-size:50px;
}
nav form i{
    margin: 0 10px;
    
}
.flex-container{
    display: flex;
    justify-content: center;
    
    
    
}
.one{
    background-color: rgb(71, 146, 71);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    height: 350px;
    text-align: center;
    padding: 20px 20px;
    justify-content: center;
    

}
.two{
    
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    
}
.two ul li{
     margin: 10px 35px;

}
button{
     background-color: rgb(39, 101, 39);
     color: white;
     width: 200px;
     padding: 20px;
     border: none;
     border-radius: 10px;

}
@media screen and (min-width:300px) and (max-width:450px){
           nav ul li{
            display: none;
           }
           nav{
            justify-content: center;
           }
           .flex-container{
            flex-direction: column-reverse;
            align-items: center;
           }
           .two h3{
            display: none;
           }
           button{
            display: none;
           }
           nav ul h1{
            font-size:30px;
           }
           .one{
            width:300px;
            height:300px;
           } 
           nav form{
            display:none;
           }         
}
@media screen and (min-width:450px) and (max-width:800px) {
            nav ul li{
                display: none;
            }
            nav{
                justify-content:center;
            }
            nav ul h1{
                font-size: 30px;
            }
            .flex-container{
                flex-direction: column-reverse;
                align-items: center;
            }
            .two h3{
                display: none;
               }
               button{
                display: none;
               }
               .one{
                width:300px;
                height:300px;
               } 
               nav form{
                display:none;
               }               
}
